.active {
	color: rgb(255, 0, 0);
	font-weight: bolder;
}
.tooltipcustom {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	transition: ease-in;
	
	transition-delay:1s ;
	
	
}

.tooltipcustomhover:hover .tooltipcustom {
	visibility: visible;
	color: aliceblue;
	
}
